@{
    ViewBag.Title = "About";
}
<style>
    .cont{
        padding-top:56px;
    }
    .imgs{
        height:350px;
        width:50%;
    }
    
    
</style>
<main class="container ">
    <div class="row " style="color:#FFFF33">
        <h1 class="text-center">About Us</h1>
        <h3>Introduction</h3>
        <div class="d-flex flex-row gap-4">
            <div>

                <p>Affiliated with the Institute of Engineering, Tribhuvan University, Sagarmatha Engineering College (SEC) is a premier educational institution in Nepal, dedicated to providing high-quality engineering education and fostering innovation and research.</p>
                <br />
                <p>
                    Established in 2010 AD with the vision of becoming a leading center of excellence in engineering, SEC offers the following undergraduate programs:
                </p>
                <ul>
                    <li>Bachelor of Civil Engineering</li>
                    <li>Bachelor of Computer Engineering</li>
                    <li>Bachelor of Electronics, Communication and Information</li>
                    <li>Bachelor of Electrical Engineering(Proposed)</li>

                </ul>
                <br />
                <b>Our Commitment to Excellence.</b>


            </div>
            <img class="img-fluid imgs" src="~/Content/images/sagarmatha.jpg" />
        </div>
        <p>At Sagarmatha Engineering College, we are committed to creating a vibrant learning environment through:</p>
        <p><b>State-of-the-Art Infrastructure:</b> Our campus features modern infrastructure, well-equipped laboratories, a comprehensive library, and extensive resources that encourage hands-on exploration and experiential learning.</p>

        <p><b>Dedicated Faculty:</b> Our experienced and dedicated faculty members provide guidance, mentorship, and personalized attention to ensure students receive a comprehensive education that extends beyond theoretical knowledge.</p>

        <p><b>Practical Exposure:</b> Through partnerships with industries, government agencies, and academic institutions, we offer practical exposure, internships, and job placement opportunities, facilitating a seamless transition from academia to the professional world.</p>

        <p><b>Research and Innovation:</b> We encourage both faculty and students to engage in research activities, collaborate across disciplines, and develop innovative solutions to address real-world challenges.</p>

        <p>
            <b>Empowerment for Sustainable Development:</b> We aim to empower students to contribute to the sustainable development and advancement of Nepal and the global community.
        </p>

        <p><b>Inclusive Learning Environment:</b> We strive to create an inclusive and diverse learning environment that celebrates individual differences and promotes equal opportunities for all.</p>

        <p><b>Professional Development:</b> We organize workshops, seminars, and training programs to enhance the professional and leadership skills of our students, preparing them for successful careers in their chosen engineering fields.</p>

        <b><big>
    Join Us at Sagarmatha Engineering College
</big></b>

        <p>Become a part of our vibrant academic community and embark on a journey of excellence, innovation, and leadership in engineering. Sagarmatha Engineering College is where your future begins.</p>
        <br/>
        <h4><b>Office Hours: 9 AM To 5 PM (Sunday To Thursday)</b></h4>

    </div>
    <span>For more Info contact us &darr;&darr;&darr;&darr;</span>
    <ul><li style="list-style:none" class="btn">@Html.ActionLink("Contact Us", "Create", "ContactForms", new { area = "" }, new { @class = "nav-link" })</li></ul>
<br/>
    <br/>
    <div>

        <h1 class="text-center">Acadamic Program</h1>
        <br />
        <section id="civil">

            <div style="padding: 10px; background-color: rgba(0, 76, 109, 0.8); color:#FFFFFF;padding-top:56px;">
                <h3>
                    Bachelor of Civil Engineering
                </h3>
                <p>

                    Civil engineering is the pioneering field of engineering, encompassing the design, construction, and maintenance of essential infrastructure. Can you imagine a world without civil engineering? It’s hard to picture. The house we live in, the roads we drive on, the colleges we study at, and the hydro stations and dams that provide us with electricity are all results of the meticulous design and construction efforts of civil engineers. This field shapes the very framework of our daily lives and the world around us.
                </p>
                <br />
                <div class=" d-flex flex-row gap-0">

                    <div>

                        <h4>
                            Introduction:
                        </h4>



                        <p>The Bachelor of Civil Engineering program at Sagarmatha Engineering College offers students an excellent opportunity to gain comprehensive knowledge and skills necessary to plan, design, and manage various civil engineering projects, ranging from buildings and bridges to highways, hydropower, and water supply systems. This program is designed to equip students with a strong foundation in various aspects of civil engineering, enabling them to contribute to infrastructure development and solve complex challenges in the built environment.</p>
                        <br />

                        <h4>Scope:</h4>

                        <p>The scope of the Bachelor of Civil Engineering program is vast and diverse. Civil engineers play a crucial role in designing, constructing, and maintaining the infrastructure that supports modern society, including roads, bridges, buildings, dams, hydropower plants, airports, water supply systems, and waste management systems. With rapid urbanization and increasing demand for infrastructure development, the need for competent civil engineers is on the rise. As a graduate of this program, you will have a wide range of opportunities to work in both public and private sectors, including government agencies, consulting firms, construction companies, and research organizations.</p>
                        <br />

                    </div>
                    <div>
                        <img src="~/Content/images/civil.jpeg" />
                    </div>


                </div>
                <div>

                    <h4 class="text-info">Why to study Bachelor of Civil Engineering Program?</h4>


                    <p> <b>Impact on Society:</b> <span>Civil engineering directly impacts people’s lives by providing essential infrastructure for communities to thrive. As a civil engineer, you can contribute to society’s well-being and leave a lasting legacy.</span></p>
                    <p><b>Diverse Specializations:</b> The field of civil engineering offers a wide range of specializations, allowing students to pursue areas of personal interest and passion. Whether it’s designing iconic structures, mitigating environmental impacts, or developing transportation systems, there is something for everyone.</p>
                    <p><b>Job Stability and Growth:</b>Job Stability and Growth: With rapid urbanization and infrastructure development globally, civil engineers enjoy job stability and numerous growth opportunities. The demand for skilled civil engineers is unlikely to diminish any time soon.</p>
                    <p><b>Innovation and Creativity:</b> Civil engineering involves creative problem-solving and innovative thinking. You’ll have the chance to design innovative solutions to complex challenges, making each project a unique and exciting endeavor.</p>

                    <p><b>Financial Rewards:</b> Civil engineering is a well-paying profession, and as you gain experience and expertise, your earning potential will increase significantly.</p>
                    <p><b>Global Opportunities:</b> Civil engineering is a global profession, offering opportunities to work on projects around the world, experiencing diverse cultures and challenges.</p>
                    <p><b>Team Collaboration:</b> Civil engineering projects require teamwork, allowing you to collaborate with professionals from various disciplines, enriching your overall skill set and networking opportunities.</p>
                    <span class="text-bg-info text-light">Studying the Bachelor of Civil Engineering program at Sagarmatha Engineering College will provide you with the necessary knowledge, skills, and practical experience to thrive in the field of civil engineering and contribute to the development and progress of Nepal and beyond.</span>
                </div>

            </div>
        </section>
        <div style="padding-top:20px">

        <section id="electronics">

            <div style="padding: 10px; background-color: rgba(0, 76, 109, 0.8); color:#FFFFFF;padding-top:56px;">
                <h3>
                    Bachelor of Electronics, Communication and Information Engineering
                </h3>
                <p>
                    A world without Electronics, Communication and Information Engineering is unimaginable. This field is the backbone of modern technology, enabling everything from smartphones and the internet to satellite communications and medical devices. Electronics and communication engineering drive innovation, connecting people globally and facilitating advancements in numerous industries. Without it, our world would be far less connected and technologically advanced.
                </p>
                <br />
                <div class=" d-flex flex-row gap-0">

                    <div>

                        <h4>
                            Introduction:
                        </h4>



                        <p>The Bachelor of Electronics, Communication, and Information Engineering program is an undergraduate degree program that combines the fields of electronics, communication, and information technology. This program equips students with the necessary knowledge and skills to design, develop, and maintain electronic systems, communication networks, and information systems. It covers a wide range of topics, including electronics, signal processing, telecommunications, computer networks, software engineering, and information systems.</p>
                        <br />

                        <h4>Scope:</h4>

                        <p>Due to the rapid advancement of technology and its integration into every aspect of our lives, industries and businesses increasingly rely on electronic and communication systems and hence the demand for skilled professionals in this field is on the rise. Graduates of the ECI program can explore a wide range of opportunities in various sectors, such as Telecommunications, Electronics and Semiconductor Industry, Information Technology, Internet of Things (IoT), Robotics and Automation, Research and Development.</p>
                        <br />

                    </div>
                    <div>
                        <img src="~/Content/images/electronics.jpeg" />

                    </div>


                </div>
                <div>

                    <h4 class="text-info">Why Study Bachelor of Electronics, Communication, and Information Engineering Program?</h4>


                    <p> <b>Growing Industry Demand:</b> <span>The electronics, communication, and information technology industries are expanding rapidly, creating a high demand for skilled professionals.</span></p>
                    <p><b>Wide Range of Specializations:</b> The program provides a broad foundation in electronics, communication, and information engineering, allowing students to explore various specializations based on their interests and career goals.</p>
                    <p><b>Technological Advancements:</b>The field of electronics, communication, and information engineering is constantly evolving, with new technologies and innovations with the latest advancements in the industry.</p>
                    <p><b>Problem-Solving Skills</b> The program emphasizes critical thinking, problem-solving, and analytical skills, preparing students to tackle real-world engineering challenges effectively.</p>

                    <p><b>Practical Hands-on Experience:</b> Students gain hands-on experience through laboratory work, internships, and industry collaborations, enabling them to apply theoretical knowledge to practical scenarios.</p>
                    <p><b>Collaboration and Teamwork:</b> Electronics, communication, and information engineering projects often involve multidisciplinary teams. This program fosters collaboration and teamwork skills, essential for successful project implementation.</p>
                    <p><b>Global Opportunities:</b> Graduates of this program have opportunities to work in diverse settings and locations globally, as the demand for electronics and communication professionals is not limited to any specific region.</p>
                    <span class="text-bg-info text-light">In conclusion, studying the Bachelor of Electronics, Communication, and Information Engineering program offers an exciting career path in a rapidly evolving industry. With a wide range of job opportunities, hands-on experience, and the ability to contribute to technological advancements, this program prepares students for a rewarding and fulfilling career in electronics, communication, and information engineering.</span>
                </div>

            </div>
        </section>
        </div>
        <div style="padding-top:20px">

        <section id="computer">

            <div style="padding: 10px; background-color: rgba(0, 76, 109, 0.8); color:#FFFFFF;padding-top:56px;">
                <h3>
                    Bachelor of Computer Engineering
                </h3>
                <p>
                    Can you imagine the world without Computer Engineering? It’s nearly impossible. From smartphones and the internet to advanced medical devices and automated systems, computer engineering is the backbone of modern technology. It drives innovation, enhances daily life, and solves global challenges. Without it, our interconnected, digital world simply wouldn’t exist.
                </p>
                <br />
                <div class=" d-flex flex-row gap-0">

                    <div>

                        <h4>
                            Introduction:
                        </h4>



                        <p>The Bachelor of Computer Engineering program offered by Sagarmatha Engineering College, affiliated with Tribhuvan University, Nepal, is designed to provide students with comprehensive knowledge and skills in the field of computer engineering. This program combines the principles of computer science and electrical engineering to equip students with the necessary expertise to design, develop, and maintain computer systems and software applications.</p>
                        <br />

                        <h4>Scope:</h4>

                        <p>The scope of the Bachelor of Computer Engineering program is vast and ever-expanding. In today’s digital age, computer engineers play a crucial role in various sectors, including information technology, telecommunications, software development, electronics, robotics, embedded systems, artificial intelligence, data science, and more. The program equips students with a strong foundation in computer engineering principles, programming languages, algorithms, hardware design, networking, and software development, enabling them to explore diverse career opportunities in both the public and private sectors.</p>
                        <br />

                    </div>
                    <div>
                        <img src="~/Content/images/computer.jpeg" />

                    </div>


                </div>
                <div>

                    <h4 class="text-info">Why Study Bachelor of Computer Engineering Program?</h4>


                    <p> <b>In-Demand Skills:</b> <span>Computer engineering skills are highly sought after in today’s digital-driven world. Studying this program will equip you with the knowledge and skills needed to excel in various technology-driven industries.</span></p>
                    <p><b>Career Growth and Opportunities: </b>The field of computer engineering offers diverse and rewarding career opportunities with excellent growth prospects. The demand for computer engineers continues to rise globally.</p>
                    <p><b>Technological Advancements:</b> Computer engineering is at the forefront of technological advancements. By studying this program, you will stay updated with the latest technologies and be prepared to contribute to the future of innovation.</p>

                    <p><b>Innovation and Creativity: </b> Computer engineering fosters problem-solving skills and encourages creativity. You will learn how to tackle complex issues and develop innovative solutions.</p>
                    <p><b>Collaboration and Teamwork:</b> Computer engineering projects often involve multidisciplinary teams. This program fosters collaboration and teamwork skills, essential for successful project implementation.</p>
                    <p><b>Global Opportunities:</b> Graduates of this program have opportunities to work in diverse settings and locations globally, as the demand for Computer professionals is not limited to any specific region.</p>
                    <span class="text-bg-info text-light">In conclusion, studying the Bachelor of Computer Engineering program at Sagarmatha Engineering College offers a wide range of career opportunities, equipping you with the necessary skills to thrive in the technology-driven world. With a solid foundation in computer engineering principles, you will be prepared to make a significant impact in various sectors and contribute to technological advancements.</span>
                </div>

            </div>
        </section>
        
    </div>
    <div style="padding-top:20px">

        <section id="electrical">

            <div style="padding: 10px; background-color: rgba(0, 76, 109, 0.8); color:#FFFFFF;padding-top:56px;">
                <h3>
                    Bachelor of Electrical Engineering (Proposed)
                </h3>
                <p>
                    Electrical engineering is a backbone for the development of Nepal where there is huge potential for generation and transmission of electricity. This branch of engineering deals with the study and application of electricity, electronics, and electromagnetism. This field first became an identifiable occupation in the latter half of the 19th century after commercialization of the electric telegraph, the telephone, and electric power distribution and use. In today’s world where energy crisis is a major issue, electrical engineers through production of hydroelectricity can alleviate the problem.
                </p>
                <br />
                <div class=" d-flex flex-row gap-0">

                    <div>

                        <h4>
                            Introduction:
                        </h4>



                        <p>Electrical engineering is a backbone for the development of Nepal where there is huge potential for generation and transmission of electricity. This branch of engineering deals with the study and application of electricity, electronics, and electromagnetism. This field first became an identifiable occupation in the latter half of the 19th century after commercialization of the electric telegraph, the telephone, and electric power distribution and use. In today’s world where energy crisis is a major issue, electrical engineers through production of hydroelectricity can alleviate the problem.</p>
                        <br />

                        <h4>Scope:</h4>

                        <p>The scope of the Bachelor of Electrical Engineering program is extensive and continuously expanding. Electrical engineers play a crucial role in various industries, including power generation and distribution, telecommunications, electronics, automation, renewable energy, and more. The program offers a comprehensive curriculum that covers key areas such as circuit analysis, electrical machines, power systems, control systems, signal processing, and electronics. This broad foundation prepares graduates for diverse career opportunities in both public and private sectors, as well as in research and development.</p>
                        <br />

                    </div>
                    <div>
                        <img src="~/Content/images/Electrical.jpeg" />

                    </div>


                </div>
               

            </div>
        </section>
        </div>
    </div>
</main>